In [44]:
import pandas as pd
df = pd.read_csv('C:\\Users\\user\\Downloads\\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [45]:
print(df.columns)

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [46]:
grouped = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017']].sum()
print("Year with the highest sum of Stock Variation:", grouped.sum(axis=0).idxmax())

Year with the highest sum of Stock Variation: Y2017

In [47]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [48]:
df.shape

(60943, 12)

In [49]:
selected_columns = ['Y2017', 'Area']
df_selected = df[selected_columns]

grouped_df = df_selected.groupby('Area')['Y2017'].sum()

sorted_df = grouped_df.sort_values()

seventh_lowest = sorted_df.iloc[6] 
area_with_seventh_lowest_sum = sorted_df[sorted_df == seventh_lowest].index[0]

print("Area with the 7th lowest sum in 2017:", area_with_seventh_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [50]:
protein_madagascar_2015 = df.loc[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar'), 'Y2015'].sum()
print("Total Protein supply quantity in Madagascar in 2015:", protein_madagascar_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

In [51]:
total_missing = df['Y2014'].isnull().sum()
percentage_missing = (total_missing / len(df['Y2014'])) * 100

print("Total number of missing data in 2014:", total_missing)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [52]:
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']
year_with_least_correlation = correlations.idxmin()
print("Year with the least correlation:", year_with_least_correlation)

Year with the least correlation: Y2016

In [53]:
wine_production = df.groupby('Item')['Y2015', 'Y2018'].sum()
wine_sum_2015 = wine_production.loc['Wine', 'Y2015']
wine_sum_2018 = wine_production.loc['Wine', 'Y2018']
print("Total sum of Wine produced in 2015:", wine_sum_2015)
print("Total sum of Wine produced in 2018:", wine_sum_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

C:\Users\user\AppData\Local\Temp\ipykernel_3776\785189825.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wine_production = df.groupby('Item')['Y2015', 'Y2018'].sum()

In [54]:
df_2017 = df[['Y2017', 'Area']]
grouped = df_2017.groupby('Area').sum()
area_with_highest_sum = grouped['Y2017'].idxmax()
print(area_with_highest_sum)

Nigeria

In [55]:
df_filtered = df[['Element', 'Y2017']]
grouped = df_filtered.groupby('Element')['Y2017'].sum()
processing_sum_2017 = grouped.loc['Processing']
print("Total sum of Processing in 2017:", processing_sum_2017)

Total sum of Processing in 2017: 292836.0

In [56]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [57]:
unique_countries = df['Area'].nunique()
print("Total number of unique countries:", unique_countries)

Total number of unique countries: 49